{% extends "::base.html.twig" %}
{% block body %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">О нас</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<section class="section-padding">
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6">
					<img src="{{ asset('public/img/dev1.png') }}" alt="showcase image">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<h3>ЖК «Бест Вей» действует на основе идей кооперации, а также использует лучшие международные практики.</h3>
						<p>Основатели ЖК «Бест Вей» разработали уникальную жизнеспособную схему участия членов кооператива в жилищных проектах: выбрав объект недвижимости в любом уголке Российской Федерации, 35 % стоимости объекта платит сам пайщик кооператива, а оставшиеся 65% доплачивает кооператив под 2% годовых. Если пайщик внес 50% стоимости объекта недвижимости, то кооператив доплачивает оставшиеся 50% под 0% годовых. Сумму, предоставленную кооперативом на приобретение объекта недвижимости пайщик выплачивает в течение 10 лет, при этом приобретенный объект недвижимости передается пайщику в пользование до полной выплаты долга перед кооперативом, а после погашения задолженности передается пайщику в собственность.</p>
						<p>Существует еще одна уникальная возможность! Только с ЖК «Бест Вей» – можно постепенно накопить сумму первого взноса, перечисляя ежемесячные платежи на специальный счет в «Сбербанк», с учетом финансовой программы, которую составят специалисты ЖК «Бест Вей».</p>
					</div>
				</div>
			</div>
			<div class="row"> 
              <div class="col-md-12">
                <div class="about-logo">
                  <h3>Цели жилищного кооператива My Company:</h3>
					<p>Создать систему улучшения жилищных условий для членов кооператива, учитывая их потребности и возможности. Развитие системы современной и доступной кооперации граждан по вопросу приобретения объектов недвижимости.</p>
                    <p>Сформировать и внедрить новый, альтернативный ипотеке, механизм способный решить вопрос улучшения жилищных условий для населения со скромными доходами.</p>
					<p>Создать условия выплаты долга за жилье необременительным для члена кооператива путем снижения суммы ежемесячного платежа до возможного минимума, понизив тем самым финансовую нагрузку заемщика. Данные условия помогут гражданам с невысокими доходами принять участие в программе кооператива;</p>
					<p>Формировать и развивать эффективный механизм накоплений для членов кооператива;</p>
					<p>Распространить программу кооператива по всем городам и регионам России.</p>
					<p><b>Доступное жилье для каждого с кооперативом BW - это реальность!</b></p>
                </div>  
              </div>
            </div>
		</div>
	</section>
	<div class="container">
					
					<div class="about">
						
						<div class="block-heading-six">
							<h4 class="bg-color">Наша команда</h4>
						</div>
						<br>
						
						<!-- Our team starts -->
						
						<div class="team-six">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{ asset('public/img/team1.jpg') }}" alt="">
										<!-- Name -->
										<h4>Johne Doe</h4>
										<span class="deg">Creative</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{ asset('public/img/team2.jpg') }}" alt="">
										<!-- Name -->
										<h4>Jennifer</h4>
										<span class="deg">Programmer</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{ asset('public/img/team3.jpg') }}" alt="">
										<!-- Name -->
										<h4>Christean</h4>
										<span class="deg">CEO</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{ asset('public/img/team4.jpg') }}" alt="">
										<!-- Name -->
										<h4>Kerinele rase</h4>
										<span class="deg">Manager</span> 
									</div>
								</div>
							</div>
						</div>
						
						<!-- Our team ends -->
					  
						
					</div>
									
				</div>
	</section>
{% endblock %}