{% extends "::base.html.twig" %}
{% block body %}
<section id="banner">
   
  <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{{ asset('public/img/slides/1.jpg') }}" alt="" />
                <div class="flex-caption">
                    <h3>Выгодное приобретение недвижимости!</h3>
          {# <p></p>  #}
           
                </div>
              </li>
              <li>
                <img src="{{ asset('public/img/slides/2.jpg') }}" alt="" />
                <div class="flex-caption">
                    <h3>Профессионализм и ответственность</h3> 
          {# <p>Success depends on work</p>  #}
           
                </div>
              </li>
            </ul>
        </div>
  <!-- end slider -->
 
  </section> 
  <section id="call-to-action-2">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-9">
          <h3>Удобная рассрочка по графику платежей, возможность использования «Материнского (семейного) капитала»!</h3>
          <p>Жилищный кооператив «My Company» - это уникальное и выгодное предложение на рынке недвижимости.</p>
        </div>
        <div class="col-md-2 col-sm-3">
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
  </section>
  
  <section id="content">
  
  
  <div class="container">
        <div class="row">
      <div class="col-md-12">
        <div class="aligncenter"><h2 class="aligncenter">Почему My Company</h2></div>
        <br/>
      </div>
    </div>

   <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-bell-o"></i>
                <div class="info-blocks-in">
                    <h3>Гарантия</h3>
                    <p><li>Работа ЖК в рамках Жилищного и Гражданского Кодексов РФ;</li>
 						<li>Контроль государства; Общее собрание пайщиков;</li> 
 						<li>Паевой счет ЖК в Сбербанке РФ;</li> 
 						<li>Гарантия возврата 100% паевых взносов (согласно законодательству РФ);</li></p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-hdd-o"></i>
                <div class="info-blocks-in">
                    <h3>Возможности</h3>
                    <p><li>Возможность накопления паевого взноса</li>
 						<li>Покупка недвижимости по всей территории России</li> 
 						<li>Юридическая экспертиза сделки</li> 
 						<li>Вселение и проживание в квартире при фактическом накоплении всего трети ее рыночной стоимости </li>
 						<li>Приемка объекта у застройщика в случае долевого участия</li>
 						<li>Работа с жилищными субсидиями и материнским капиталом</li> 
 						<li>Быстрое движение в очереди для активных пайщиков, которые привлекают в кооператив новых членов </li> 
 						<li>Жилье — это комната, квартира, жилой дом, отвечающие требованиям, установленным жилищным законодательством РФ</li></p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                <div class="info-blocks-in">
                    <h3>Преимущества</h3>
                    <p><li>Низкий процент по выделенным кооперативом средствам: 0% или 2% сроком до 10 лет</li>
 						<li>Минимальный паевой взнос - 10 000 рублей</li> 
 						<li>Для вступления в кооператив нужен только один документ - паспорт</li> 
 						<li>Купить жилье можно в любом населенном пункте России</li>
 						<li>Полная прозрачность работы ЖК для пайщика через личный кабинет на сайте Кооператива</li>
 						<li>Возможность передачи пая другому члену кооператива или третьему лицу</li> 
 					</p>
                </div>
            </div>
        </div>
  {# <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-code"></i>
                <div class="info-blocks-in">
                    <h3>Investment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-compress"></i>
                <div class="info-blocks-in">
                    <h3>Creative</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-html5"></i>
                <div class="info-blocks-in">
                    <h3>24/7 Support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
</div> #}
  </section>
  
  <section class="section-padding gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>Нет возможности купить жилье?</h2>
            {# <p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p> #}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="about-text">
            <p>Согласно последним социологическим опросам в нашей стране улучшить свои жилищные условия хотят около 80% опрошенных россиян. В то же время для многих из них эта цель является недосягаемой по одной главной причине – у них нет для этого денежных средств.</p>

			<p>Но как быть, если сразу купить квартиру нет возможности?</p>

			<p>Безусловно, одним из самых популярных решений данной проблемы является ипотечное кредитование. Однако тенденция сегодняшних реалий такова, что, по статистике, получить и осилить ипотечный кредит в банке может лишь каждый десятый наш соотечественник.</p>

			<p>Кроме того, процентные ставки по кредиту в России все еще довольно высоки и, учитывая обязательное страхование приобретаемой недвижимости, ипотека обходится заемщикам очень дорого. В результате переплаты по кредиту, в зависимости от его сроков и условий, могут достигать от 80 до 250% стоимости ипотечного займа.</p>

            {# <ul class="withArrow">
              <li><span class="fa fa-angle-right"></span> Lorem ipsum dolor sit amet</li>
              <li><span class="fa fa-angle-right"></span> consectetur adipiscing elit</li>
              <li><span class="fa fa-angle-right"></span> Curabitur aliquet quam id dui</li>
              <li><span class="fa fa-angle-right"></span> Donec sollicitudin molestie malesuada.</li>
            </ul> #}
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="about-image">
            <img src="{{ asset('public/img/about.png') }}" alt="About Images">
          </div>
        </div>
      </div>
    </div>
  </section>    
  <section id="content-3-10" class="content-block data-section nopad content-3-10">
  <div class="image-container col-sm-6 col-xs-12 pull-left">
    <div class="background-image-holder">

    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
        <div class="editContent">
          <h3>Итак, что такое кооперация?</h3>
        </div>
        <div class="editContent">
          <p>Кооперация – это совокупность организационно оформленных самодеятельных добровольных объединений взаимопомощи рабочих, мелких производителей, в том числе крестьян, служащих для достижения общих целей в различных областях экономической деятельности.</p>
        </div>
        <a href="#" class="btn btn-outline btn-outline outline-dark">Подробнее</a>
      </div>
    </div><!-- /.row-->
  </div><!-- /.container -->
</section>
  
  <div class="about home-about">
        <div class="container">
            <div class="aligncenter">
            	<h2 class="aligncenter">Почему My Company</h2>
            </div>
            <div class="row">
              <div class="team-six">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{ asset('public/img/diplom.png') }}" alt="">
										<!-- Name -->
										<h4>Диплом</h4>
										<span class="deg">Creative</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{ asset('public/img/diplom.png') }}" alt="">
										<!-- Name -->
										<h4>Диплом</h4>
										<span class="deg">Programmer</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{ asset('public/img/diplom.png') }}" alt="">
										<!-- Name -->
										<h4>Диплом</h4>
										<span class="deg">CEO</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{ asset('public/img/diplom.png') }}" alt="">
										<!-- Name -->
										<h4>Диплом</h4>
										<span class="deg">Manager</span> 
									</div>
								</div>
							</div>
						</div>
              
            </div>
            
                        
             
            <br>
           
            </div>
            
          </div>
        {% endblock %}